.bg-image {
  height: 610px;
  width: 834px;
}
.bridgeText {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 52px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
  text-align: center;
}
.comingSoonTxt {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #76768a;
  text-align: center;
}
